body {
  background-color: rgb(240, 234, 234);
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 70%;
}

#img-caption {
  margin-top: 18px;
  margin-bottom: 18px;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul,
cite {
  width: 35%;
  font-size: 18px;
}

li {
  margin-bottom: 15px;
}
